body{
  background: #ecf0f3;
}

.layout{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}
.optionspreview{
    display: flex;
    gap: 8px;
}
.btn{
    background: #92b4cc;
    padding: 10px 20px;
    border: none;
    z-index: 30px;
    margin: 3px;
    border-radius: 15px;
    box-shadow: -6px -6px -10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.quiz-main{
    display: flex;
    justify-content: center;
   
}
.quiz-display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;
}
.options-list{
    display: flex;
    flex-direction: column;
}
.btns{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.quiz-display strong{
  font-size: 20px;
  margin-left: -35px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form input{
    width: 100%;
    padding: 8px;
    height: 24px;
    border-radius: 14px;
    outline: none;
    border: 1px solid gray;
    font-size: medium;
    font-weight: 500;
}
 #question{
    font-weight: bold;
}
.form label{
    font-weight: bold;
    font-size: 2rem;
}
.form-comp{
    display: flex;
    flex-direction: column;
   
      
}
.form-comp input{
    width: 100%;
    padding: 8px;
    height: 24px;
    border-radius: 14px;
    outline: none;
    border: 1px solid gray;
    font-size: medium;
    font-weight: 500;
}

.form button{
    width: 380px;
    border-radius: 14px;
    color: white;
    background-color: black;
    padding: 8px;
    margin-left: 10px;
    font-size: large;
}